*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: rgb(13, 0, 49);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.list {
    margin: 10px;
    padding: 1px;
}
.list li {
    display: inline;
    color: black;
}
.list li a {
    color:white;
    margin: 15px;
    padding-right: 5px;
    text-decoration: none;
    transition: 0.5;
    font-size: 16px;
    font-weight: 800;
    text-shadow: 1px 2px black;
}
.list li a:hover {
    color: rgb(13, 0, 49);  
      /*  
      i used the pseudo to hover
      */
}
.list a #contact {
    background-color: rgb(13, 0, 49);    
    padding: 5px;
    margin: 10px;
    border-radius: 100px;
    color: black;
}
.header-container{
    background-image: url(/asset/headerphoto.jpg);
    color: white;
    padding: 20px;
    height: 1500px;
    margin-top: 10px;
    background-repeat: no-repeat;
    text-align: left;
    background-size:cover;
    background-position: center;
}
.header-image {
    text-align: left;
    padding: 50px;
    margin-top: 400px;
    background-color: 0,0,0,0.5;
}
.header-image h1 {
    padding: 10px;
    margin: auto;
    color:  white;
    font-weight: 1000px;
    font-size: 50px;
    line-height: 50px;
    text-shadow: 1px 2.5px  rgb(13, 0, 49);
}
.header-image h3 {
    color: white;
    font-weight: 900;
    font-size: 25px;
    width: 310px;
    background-color: rgb(13, 0, 49);
    border-radius: 15px;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
}
.header-image button {
    background-color:white;
    padding: 15px;
    color:  rgb(13, 0, 49);
    border: 1px solid rgb(13, 0, 49)black ;
    border-radius: 10px;
    box-shadow: 1px 8px rgb(13, 0, 49);
    margin-top: 15px;
    font-weight: 900;
}
.header-image button:hover {
    background-color:  rgb(13, 0, 49);
    color: white;
    border: 1px solid rgb(13, 0, 49) ;
    box-shadow: 1px 10px white;
          /*  
      i used the pseudo to hover on the explore portfolio
      */
}
.about-container{
    padding: 10px;
    margin: 20px;
    background-color: rgb(13, 0, 49);
    color: white;
    border: 1px solid black;

}
#about {
    text-align: left;
    line-height: 1.5;
    padding: 10px;

}
#about h2 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}
#about p {
    color: white;
}
.mission, .vision{
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    vertical-align: middle;
    margin-right: 20px;
    background-color: white;
    color: black;
}
.mission h3 {
    font-size: 24px;
}
.vision h3 {
       font-size: 24px;
   }
.mission p {
       font-size: 14px;
   }
   .vision p {
       font-size: 14px;
   }  
   .mission-vision ul {
    margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
   }
   .mission-vision ul li {
    margin-right: 20px;
	margin-bottom: 20px;
	flex: 1 0 30%;
   }
   .why-us {
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    color: black;
   }
   .why h2 {
    color: rgb(13, 0, 49);
       font-size: 30px;
       text-transform: uppercase;
   }
   .why p {
    color: #201f1e;
       font-size: 14px;
       padding: 5px;
   }
   .service h3 {
        color: rgb(13, 0, 49);
       font-size: 24px;
       text-align: left;
       margin-top: 10px;
   }
   .service li {
    color: black;
       font-size: 14px;
       text-align: left;
       padding: 5px;
       margin-bottom: 10px;
   }
   .service li i {
    padding: 5px;
   }
   .testimonial{
    padding: 40px;
   }
   .testimonial h1 {
    color: rgb(13, 0, 49);
       font-size: 30px;
       text-align: center;
       text-transform: uppercase;
       margin-bottom: 10px;

   }
   .testimonial p {
    color: #201f1e;
       font-size: 14px;
       text-align: center;
   }
   .testimonial h3 {
    color: rgb(13, 0, 49);
       font-size: 18px;
       text-align: center;
   }
   .test {
    color: white;
    background: rgb(13, 0, 49);
    padding: 2px;
    border-radius: 5px;
    font-size: small;
    font-style: italic;
   }
   .shuka {
    font-weight: bold;
   }
   #portfolio{
    background-color: rgb(13, 0, 49);
    padding: 20px;
    margin: 20px;
   }
   #portfolio ul {
    margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
   }
   #portfolio ul li {
    margin-right: 20px;
	margin-bottom: 20px;
	flex: 1 0 30%;
   }
   #portfolio ul img {
    max-width: 100%;
   }
   #portfolio h1{
    padding: 15px;
    color:  white;
    border: 1px solid rgb(13, 0, 49) ;
    border-radius: 10px;
    box-shadow: 1px 6px white;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 50% auto;  
    margin-bottom: 50px;
    font-size: 35px;
   }
   .project1, .project2, .project3, .project4, .project5, .project6{
    display: -ms-inline-grid;
    padding: 10px;
    height: 200px;
    vertical-align: middle;
    margin-right: 20px;
    width: 300px;
}
.project1:hover{
    background-color:  black;
    border: 1px solid black ;
}
.project2:hover{
    background-color:  white;
    border: 1px solid wite ;
}
.project3:hover{
    background-color:  black;
    border: 1px solid black ;
}
.project4:hover{
    background-color:  white;
    border: 1px solid wite ;
}
.project5:hover{
    background-color:  black;
    border: 1px solid black ;
}
.project6:hover{
    background-color:  white;
    border: 1px solid wite ;
}
#contact{
    padding: 10px;
    margin: 20px;
    color: black ;
    background-color: whitesmoke;
}
#contact input{
    border: 2px solid rgb(13, 0, 49);
    padding: 5px;
    margin: 5px;
    background-color: white;
}
#contact  h3{
    margin: 5px;
    text-align: left;
    font-size: 24px;
    color: rgb(13, 0, 49);
}
#contact textarea{
    border: 2px solid rgb(13, 0, 49);
    margin:5px;
    background-color: white;
}
#btn:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgb(13, 0, 49);
          /*  
      i used the pseudo to focus
      */
}
footer {
    color: black;
    text-align: center;
    border: 0px solid black;
    margin: 10px;
    text-transform: capitalize;
}
footer a {
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 700;
}
.social{
    background-color: rgb(13, 0, 49);
    padding: 5px;
    margin: 10px;
    color: white;
}
.copy{
    background-color:rgb(13, 0, 49);
    margin: 10px;
    padding: 5px;
    color: white;
}
.twitter{
    color: blue;
    font-size: 20px;
}
.instagram{
    color: purple;
    font-size: 20px;
}
.linkedin{
    color: blue;
    font-size: 20px;
}
/* 
changed my icons color
*/